.mui-header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: rgba(255, 255, 255, 0.86);
  backdrop-filter: blur(32px);
  height: 86px;
  width: 100%;
  min-width: 1280px;

  &::after {
    content: '';
    width: 100%;
    min-width: 1280px;
    height: 750px;
    background: url('@/assets/img/bg.png') no-repeat;
    background-size: 100%;
    position: absolute;
    top: 86px;
    left: 0;
    z-index: -1;
  }

  .logo {
    width: 132px;
    height: 86px;
    background: url('@/assets/img/logo.png') 0 50% no-repeat;
    background-size: 100%;
  }
  
  .global {
    margin-right: 32px;

    span {
      margin: 0 2px 0 4px;
      font-family: Titillium Web;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
    }
  }

  .account {
    box-sizing: border-box;
    padding: 14px 20px;
    height: 62px;
    background: rgba(0, 0, 0, 0.02);
    border-radius: 10px;
    margin-left: 32px;
    .t1 {
      font-weight: 800;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: -0.04em;
      color: #000000;
      i {
        margin-left: 2px;
      }
    }
    .info {
      position: relative;
      padding: 0 14px;
      margin-left: 14px;
      &::before, &::after {
        content: '';
        width: 1px;
        height: 24px;
        background-color: rgba(0, 0, 0, 0.05);
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
      }
      &::before {
        left: 0;
      }
      &::after {
        right: 0;
      }
      li {
        margin-left: 18px;
        p:nth-child(1) {
          font-size: 12px;
          line-height: 16px;
          letter-spacing: -0.04em;
          color: rgba(0, 0, 0, 0.45);
        }
        p:nth-child(2) {
          font-weight: 700;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: -0.04em;
          color: #000000;
        }
      }
      .condition {
        background: linear-gradient(0deg, rgba(65, 186, 99, 0.1), rgba(65, 186, 99, 0.1)), #FFFFFF;
        border-radius: 21px;
        padding: 4px 8px;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -0.04em;
        color: #41BA63;
        i {
          margin-right: 4px;
        }
      }
    }
    .btns {
      margin-left: 14px;
      background: rgba(0, 0, 0, 0.05);
      border-radius: 66px;
      position: relative;
      // &::after {
      //   content: '';
      //   width: 1px;
      //   height: 10px;
      //   background-color: rgba(0, 0, 0, 0.05);
      //   position: absolute;
      //   left: 0;
      //   right: 0;
      //   top: 0;
      //   bottom: 0;
      //   margin: auto;
      // }
      p {
        padding: 6px 16px;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.04em;
        color: #000000;
      }
      p:nth-child(2) {
        box-sizing: border-box;
        padding: 0;
        width: 1px;
        height: 10px;
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }
}

.welcome {
  img {
    width: 80px;
    height: 80px;
  }
  .t1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    margin-top: 8px;
  }
}
#EthosConnectProvider {
  width: 100vw;
  height: 100vh;
}