.mui-header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: rgba(255, 255, 255, 0.86);
  backdrop-filter: blur(32px);
  height: 86px;
  width: 100%;
  min-width: 1200px;
}

.mui-header .logo {
  width: 132px;
  height: 86px;
  background: url('./../../img/logo.png') 0 50% no-repeat;
  background-size: 100%;
}

.connect-btn {
  padding: 6px 12px 6px 16px;
  border-radius: 21px;
  font-family: 'Nunito';
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  background-color: #000;
}
.connect-btn.big {
  height: 48px;
  border-radius: 31px;
}
.global {
  margin-right: 32px;
  position: relative;
}
.global span {
  margin: 0 2px 0 4px;
  font-family: Titillium Web;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.global::after {
  content: '';
  width: 1px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: -16px;
}
.address-btn {
  background: rgba(0, 0, 0, 0.05);
  color: #000;
}

.account-info {
  box-sizing: border-box;
  padding: 14px 20px;
  height: 62px;
  background: rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  margin-left: 32px;
}
.title {
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.04em;
  color: #000000;
}

.info {
  position: relative;
  padding: 0 14px;
  margin-left: 14px;
}
.info::before, .info::after {
  content: '';
  width: 1px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.info::before {
  left: 0;
}

.info::after {
  right: 0;
}

.info li {
  margin-left: 18px;
}
.info li p:nth-child(1) {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.04em;
  color: rgba(0, 0, 0, 0.45);
}

.info li p:nth-child(2) {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: #000000;
}

.condition {
  background: linear-gradient(0deg, rgba(65, 186, 99, 0.1), rgba(65, 186, 99, 0.1)), #FFFFFF;
  border-radius: 21px;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.04em;
  color: #41BA63;
}
i {
  margin-left: 2px;
}


.btns {
  margin-left: 14px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 66px;
  position: relative;
}
.btns p {
  padding: 6px 16px !important;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.04em;
  color: #000000;
}

.btns p:nth-child(2) {
  box-sizing: border-box;
  padding: 0 !important;
  width: 1px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.05);
}

.header-modal .p1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: rgba(0, 0, 0, 0.75);
  margin: 24px 0 20px !important;
}

.header-modal .p1 span {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: #000000;
  margin-left: 12px;
}

.header-modal-balance {
  margin-top: 8px;
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.45);
}

.header-popover-content {
  width: 116px;
  font-size: 14pxtaplight2;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: #E76464;
}