.trade-form {
  margin-left: 20px;
  background: #FFFFFF;
  border-radius: 12px;
  padding: 32px 20px;
  width: 329px;
  height: 470px;
  box-sizing: border-box;
}
.trade-form-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.04em;
  color: #000000;
  margin-bottom: 20px !important;
}

.trade-form-gas {
  background: #FAFAFA;
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 4px 0;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.04em;
  color: rgba(0, 0, 0, 0.45);
}
.trade-form-gas span {
  font-weight: 600;
}

.trade-form-btns {
  width: 329px;
  position: relative;
}
.trade-form-btn {
  border-radius: 27px 8px 8px 27px;
  width: 138px !important;
  height: 54px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}
.trade-form-btn.red-bg, .trade-form-btn.red-bg:hover {
  background-color: #E76464 !important;
}
.trade-form-btn.green-bg, .trade-form-btn.green-bg:hover {
  background: #41BA63;
  border-radius: 8px 27px 27px 8px;
  margin-left: 12px;
}
.trade-form-btn.ant-btn-primary:disabled {
  color: #FFFFFF;
}
.trade-form-rate {
  width: 36px;
  height: 20px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.04em;
  color: rgba(0, 0, 0, 0.45);
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 19px;
  text-align: center;
  position: absolute;
  left: -40px;
  right: 0;
  margin: auto;
  z-index: 1;
}

.sty-trade-form.ant-form {
  width: 100%;
}
.sty-trade-form.ant-form .ant-input-number {
  width: 280px;
  height: 48px;
  line-height: 48px;
}

.sty-trade-form.ant-form .ant-input-number .ant-input-number-input {
  height: 46px;
  line-height: 46px;
}
/* .sty-trade-form.ant-form .ant-row {
  position: relative;
} */
.sty-trade-form.ant-form .ant-form-item {
  position: relative;
}

.sty-trade-form.ant-form .ant-form-item .ant-form-item-label {
  position: absolute;
  z-index: 11;
  top: -10px;
  left: 10px;
  padding: 0;
}
.sty-trade-form.ant-form .ant-form-item .ant-form-item-label > label {
  background-color: #fff;
  padding: 0 4px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.04em;
  color: rgba(0, 0, 0, 0.45);
}

.sty-trade-form.ant-form .ant-input-number .ant-input-number-input {
  background-color: #FAFAFA;
}
.sty-trade-form.ant-form .ant-input-number:focus, .sty-trade-form.ant-form .ant-input-number-focused {
  box-shadow: none !important;
  border-color:rgba(0, 0, 0, 0.1);
}
.sty-trade-form.ant-form .ant-input-number {
  border-color:rgba(0, 0, 0, 0.1);
}
.sty-trade-form.ant-form .ant-input-number .ant-input-number-handler-wrap {
  opacity: 1;
}
.ant-input-number .ant-input-number-handler-wrap {
  background-color: #FAFAFA;
}

.trade-openposi-success {
  position: relative;
  padding-top: 20px;
}
.trade-openposi-success .title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.04em;
  color: #000000;
  margin-top: 12px;
}
.trade-openposi-success .trade-info {
  background: rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  width: 100%;
  padding: 16px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.trade-openposi-success .trade-info .pair img{
  width: 20px;
  height: 20px;
}
.trade-openposi-success .trade-info .pair .s1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.04em;
  color: #000000;
  margin-left: 6px;
  margin-right: 6px;
}
.trade-openposi-success .trade-info .pair .s2 {
  padding: 1px 6px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.04em;
}
.trade-openposi-success .trade-info .pair .s2.buy {
  background: rgba(65, 186, 99, 0.1);
  color: #41BA63;
}
.trade-openposi-success .trade-info ul {
  margin-top: 20px;
}
.trade-openposi-success .trade-info ul li p:nth-child(1){
  line-height: 18px;
  letter-spacing: -0.04em;
  color: rgba(0, 0, 0, 0.45);
}
.trade-openposi-success .trade-info ul li p:nth-child(2){
  margin-top: 12px;
  height: 20px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.04em;
  color: #000000;
}
.trade-openposi-success .sui-exploeer {
  margin-top: 20px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: rgba(0, 0, 0, 0.75);
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);
  margin-bottom: 16px;
}
.trade-openposi-success-done {
  width: 100%;
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.75);
  box-shadow: none;
}
.trade-openposi-success-done.ant-btn-primary:not(:disabled):hover {
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.75);
}