.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: #000000;
  margin-top: 5px;
}

.verified-img {
  max-width: 220px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  max-width: 400px;
  color: #000000;
  word-break: break-word;
}

.primary-btn {
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 48px;
  background: #005563;
  border-radius: 30px;
  border-color: transparent;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  cursor: pointer;
  user-select: none;
}

.primary-btn:hover {
  box-shadow: 0 4px 10px rgb(11 75 82 / 20%);
}

.continue-btn {
  margin-top: 170px;
}

.powered {
  font-size: 10px;
  line-height: 140%;
  color: #005563;
  margin-top: 20px;
}

.powered img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.app-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  text-align: center;
  text-decoration-line: underline;
  color: #005563;
  margin-top: 20px;
  cursor: pointer;
}

.app-link-margin{
  margin-bottom: 189px;
}

.content {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  word-break: break-word;
  margin-top: 8px;
  max-width: 420px;
}