*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  height: 100%;
}

body {
  color: #000;
  background: #fff;
  /* transition: color 0.5s, background-color 0.5s; */
  line-height: 1.428571428571429;
  font-family: var(--vt-ff-harmony);
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
textarea,
pre {
  font-family: var(--vt-ff-harmony);
}


button {
  background: transparent;
  appearance: none;
}

ul {
  list-style: none;
}

p,
ol,
ul,
dl{
  margin-bottom: 0 !important;
}