/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-primary-1: #000000;
  --vt-c-primary-2: #F6F6F6;
  
  --vt-c-primary-1-disabled: #CCDDE0;

  --vt-c-text-1: #000000;
  --vt-c-text-2: #666666;
  --vt-c-text-3: #999999;
  --vt-c-text-4: #CCCCCC;
  --vt-c-text-5: #6699A1;

  --vt-c-secondary-1: #FFFFFF;
  --vt-c-secondary-2: #808080;
  --vt-c-secondary-3: #CCCCCC;
  --vt-c-secondary-4: #E6E6E6;
  --vt-c-secondary-5: #F6F6F6;

  --vt-c-tertiary-red: #EE6969;
  --vt-c-tertiary-blue: #64ABFF;
  --vt-c-tertiary-yellow: #FFE28E;
  --vt-c-tertiary-green: #88F0DA;

  --vt-c-warning: #ee6969;
  --vt-c-warning-bg: rgba(238, 105, 105, 0.1);
  --vt-c-success: #88F0DA;

  --vt-c-white: #002E33;
  --vt-c-white-soft: #345D62;
  --vt-c-white-mute: #7B9395;
  --vt-c-white-bg: #fff;
  --vt-c-white-gradient: linear-gradient(180deg, #DCECFF 0%, #E3F1FF 47.25%, #FEFFFF 86%);
  --vt-c-white-other: #000;
  --vt-c-white-other-opacity: 0,0,0;
  --vt-c-white-primary-1-opacity: 0, 85, 99;
  
  --vt-c-black: #002E33;
  --vt-c-black-soft: #345D62;
  --vt-c-black-mute: #7B9395;
  --vt-c-black-bg: #fff;
  --vt-c-black-gradient: linear-gradient(180deg, #DCECFF 0%, #E3F1FF 47.25%, #FEFFFF 86%);
  --vt-c-black-other: #000;
  --vt-c-black-other-opacity: 0,0,0;
  --vt-c-black-primary-1-opacity: 0, 85, 99;


  --vt-c-divider-white-1: rgba(0, 46, 51, 0.1);

  --vt-c-divider-black-1: rgba(0, 46, 51, 0.1);

  --vt-ff-harmony: 'HarmonyOS Sans', 'HarmonyOS Sans WF', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --vt-ff-circular: 'Circular Std', 'Circular Std WF', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

/* semantic color variables for this project */
:root {
  --color-theme: var(--vt-c-primary-1);

  --color-background: var(--vt-c-white-bg);
  --color-background-2: var(--vt-c-white-gradient);
  --color-backgroune-3: var(--vt-c-white-other);
  --color-background-4: var(--vt-c-white-other-opacity);
  --color-background-5: var(--vt-c-white-primary-1-opacity);
  --color-background-6: var(--vt-c-tertiary-green);
  --color-background-7: var(--vt-c-tertiary-blue);
  --color-background-8: var(--vt-c-secondary-4);
  --color-background-9: var(--vt-c-primary-2);
  --color-background-10: var(--vt-c-secondary-5);
  --color-background-11: var(--vt-c-primary-1-disabled);
  
  /* --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute); */

  --color-border: var(--vt-c-divider-black-1);
  --color-border-1: var(--vt-c-secondary-3);
  /* --color-border-hover: var(--vt-c-divider-light-1); */

  --color-text-1: var(--vt-c-black);
  --color-text-2: var(--vt-c-black-soft);
  --color-text-3: var(--vt-c-black-mute);
  --color-text-4: var(--vt-c-primary-1);
  --color-text-5: var(--vt-c-white-bg);
  --color-text-6: var(--vt-c-white-other);
  --color-text-7: var(--vt-c-text-2);
  --color-text-8: var(--vt-c-secondary-1);
  --color-text-9: var(--vt-c-text-1);
  --color-text-10: var(--vt-c-secondary-2);
  --color-text-11: var(--vt-c-text-3);
  --color-text-12: var(--vt-c-tertiary-red);
  --color-text-13: var(--vt-c-tertiary-yellow);
  --color-text-14: var(--vt-c-tertiary-green);
  /* --section-gap: 160px; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black-bg);
    --color-background-2: var(--vt-c-black-gradient);
    --color-backgroune-3: var(--vt-c-black-other);
    --color-background-4: var(--vt-c-black-other-opacity);
    /* --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute); */

    --color-border: var(--vt-c-divider-white-1);
    /* --color-border-hover: var(--vt-c-divider-dark-1); */

    --color-text-1: var(--vt-c-white);
    --color-text-2: var(--vt-c-white-soft);
    --color-text-3: var(--vt-c-white-mute);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  height: 100%;
}

body {
  color: var(--color-text-1);
  /* background: var(--color-background); */
  background: #FAFAFA;
  /* transition: color 0.5s, background-color 0.5s; */
  line-height: 1.428571428571429;
  font-family: var(--vt-ff-harmony);
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
textarea,
pre {
  font-family: var(--vt-ff-harmony);
}


button {
  background: transparent;
  appearance: none;
}

ul {
  list-style: none;
}
