@import './base.css';

@import './utils/font.css';
@import './utils/iconfont.css';

@import './element-plus/index.css';
@import './common.css';

@import './layout/cell.css';
@import './layout/group.scss';
@import './layout/layout.css';
@import './layout/text.css';

#app {
  height: 100%;
}

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */
