
.el-tabs.sty1-tabs .el-tabs__header{
  margin: 0;
}
.el-tabs.sty1-tabs .el-tabs__nav-wrap::after {
  display: none;
}
.el-tabs.sty1-tabs .el-tabs__item {
  font-family: 'Nunito';
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  height: 28px;
  padding: 0 12px;
}
.el-tabs.sty1-tabs .el-tabs__item.is-active {
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
}
.el-tabs.sty1-tabs .el-tabs__active-bar {
  width: 10px !important;
  height: 2px !important;
  border-radius: 3px;
  background-color: #000;
  left: 30px;
}



