.ant-modal.sty1-modal {
    border-radius: 16px;
    overflow: hidden;
    /* z-index: 0; */
    padding-bottom: 0;
}

.ant-modal.sty1-modal .ant-modal-content::after {
    content: '';
    width: 100%;
    height: 200px;
    background: url('./../../img/dialog-bg.png') no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.ant-modal.sty1-modal .ant-modal-header, .ant-modal.sty1-modal .ant-modal-body, .ant-modal.sty1-modal .ant-modal-footer {
    background-color: transparent;   
    position: relative;
    z-index: 1;
}