.popico-back {
  position: absolute;
  top: 18px;
  left: 30px;
  font-size: 24px;
  color: var(--color-text-9);
  cursor: pointer;
}
.img-download {
  width: 340px;
  height: 340px;
  margin-top: 42px;
}

.tip {
  line-height: 140%;
  text-align: center;
  color: var(--color-text-11);
  margin-top: 20px;
}

.d-app {
  margin-top: 70px;
  font-size: 12px;
  line-height: 140%;
  text-align: center;
  color:var(--color-text-9);
  cursor: pointer;
}


.tips {
  padding: 12px;
  box-sizing: border-box;
  background: var(--color-background-9);
  border-radius: 12px;
  font-size: 12px;
  line-height: 140%;
  margin-top: 10px;
}
.tips p {
  color: var(--color-theme);
  opacity: 0.8;
}
.tips i {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: var(--color-theme);
  margin-right: 12px;
  text-align: center;
  line-height: 32px;
  font-size: 16px;
  color: var(--color-text-8);
}