.pg-home {
  padding-top: 20px;
}

.marketList {
  margin-right: 20px;
  li {
    box-sizing: border-box;
    width: 151px;
    padding: 16px;
    border-radius: 10px;
    background-color: #FFF;
    margin-bottom: 20px;
    position: relative;
  }
  li.active::after {
    content: '';
    width: 10px;
    height: 22px;
    background: url('@/assets/img/token-active.png') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: -10px;
    top: 0;
    bottom: 0;
    margin: auto;

  }

  .img-icon {
    width: 32px;
    height: 32px;
    margin-right: 8px;
  }
  .s {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.04em;
    color: rgba(0, 0, 0, 0.45);
  }
  .p {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.04em;
    color: #000000;
  }
  .changeP {
    margin-top: 40px;
    padding: 6px 8px;
    border-radius: 6px;
    width: 71px;
    box-sizing: border-box;
    &.green {
      color: #41BA63;
      background: rgba(65, 186, 99, 0.12);
    }
    &.red {
      color: #E76464;
      background: rgba(231, 100, 100, 0.12);
    }
  }
}

.chart-wrap {
  box-sizing: border-box;
  width: 677px;
  padding: 24px 20px;
  border-radius: 12px;
  background-color: #FFF;

  .token {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.04em;
    color: rgba(0, 0, 0, 0.45);
    img {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
  }

  .numlist {
    margin-top: 4px;
    padding-bottom: 24px;
    position: relative;
    &::after {
      content: '';
      width: calc(100% + 40px);
      height: 1px;
      background-color: rgba(0, 0, 0, 0.05);
      position: absolute;
      bottom: 0;
      left: -20px;
    }
    .p {
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.04em;
      color: #000000;
    }
    li {
      p:nth-child(1) {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -0.04em;
        color: rgba(0, 0, 0, 0.45);
      }
      
      p:nth-child(2) {
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.04em;
        color: #000000;
      }
    }
    li + li {
      margin-left: 24px;
    }
    .green {
      color: #41BA63 !important;
    }
    .red {
      color: #E76464 !important;
    }
  }

  .time-chart {
    margin-top: 16px;

    .timelist {
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      letter-spacing: -0.04em;
      color: rgba(0, 0, 0, 0.45);
      li {
        padding: 2px 6px;
      }
      li + li {
        margin-left: 12px;
      }
      .active {
        padding: 2px 6px;
        background: #000000;
        border-radius: 35px;
        color: #FFFFFF;
        font-weight: 600;
      }
    }

    .chart {
      padding-left: 24px;
      position: relative;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: -0.04em;
      color: rgba(0, 0, 0, 0.45);

      &::after {
        content: '';
        width: 1px;
        height: 14px;
        background-color: rgba(0, 0, 0, 0.05);;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 12px;
        margin: auto;
      }

      > div {
        margin-left: 6px;
        background: rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        padding: 2px;
        .active {
          background-color: #FFF;
        }
        img {
          width: 20px;
          height: 20px;
          padding: 0 4px;
          border-radius: 3px;
        }
        img + img {
          margin-left: 6px;
        }
      }
    }
  }
}

.right-form {
  margin-left: 20px;
  
  box-sizing: border-box;
  width: 329px;
  height: 470px;
  padding: 32px 20px;
  background: #FFFFFF;
  border-radius: 12px;

  .title {
    font-family: 'Nunito';
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.04em;
    color: #000000;
    margin-bottom: 30px;
  }
}

.gasfee {
  background: #FAFAFA;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.04em;
  color: rgba(0, 0, 0, 0.45);
  padding: 4px 0;
  border-radius: 4px;
  margin-bottom: 16px;
  span {
    font-size: 600;
    margin-left: 4px;
  }
}

.tradeBtn {
  position: relative;
  li:nth-child(1), li:nth-child(3) {
    padding: 8px 0;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: -0.04em;
    p:nth-child(1) {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
    }
    p:nth-child(2) {
      font-size: 14px;
      line-height: 18px;
    }
  }
  li:nth-child(1) {
    background: #E76464;
    border-radius: 27px 8px 8px 27px;
  }
  li:nth-child(3) {
    background: #41BA63;
    border-radius: 8px 27px 27px 8px;
    margin-left: 12px;
  }
  li:nth-child(2) {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 36px;
    height: 20px;
    border-radius: 19px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.04em;
    color: rgba(0, 0, 0, 0.45);
    z-index: 22;
  }
}