.box {
  width: 200px;
  height: 200px;
  background: rgba(var(--color-background-5), 0.05);
  border-radius: 20px;
  margin: 42px auto;
}
.img {
  width: 136px;
  object-fit: contain;
}
.c1 {
  font-size: 14px;
  line-height: 140%;
  color: var(--color-text-6);
  /* margin-bottom: 16px; */
  margin: 0 auto 16px 0;
}

ul {
  margin-left: 0;
  margin-right: auto;
}
.list-item:not(:last-child) {
  margin-bottom: 12px;
}
.icon {
  width: 20px;
  height: 20px;
  font-size: 12px;
  color: var(--color-text-5);
  background: rgba(var(--color-background-5), .8);
  margin-right: 6px;
  border-radius: 6px;
}
.c2 {
  font-size: 12px;
  line-height: 140%;
  color: var(--color-text-7);
}

.mar-b {
  margin-bottom: 165px;
}