.qrcode {
  width: 340px;
  height: 340px;
  margin: 42px auto 32px auto;
}
.copy-box {
  padding: 14px 12px;
  background: rgba(var(--color-background-4), 0.05);
  border-radius: 60px;
}
.c1 {
  font-size: 14px;
  line-height: 140%;
  color: var(--color-text-4);
  opacity: 0.8;
  margin-right: 12px;
}
i {
  font-size: 20px;
  color: var(--color-text-4);
  cursor: pointer;
}

.ipt-hidden {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.mar-b {
  margin-bottom: 78px;
}