.img {
  width: 155px;
  display: block;
  margin: 45px auto 30px auto;
}
.c1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: var(--color-text-6);
  margin: auto auto 24px 0;
}
.list {
  width: 100%;
}
.list-item:not(:last-child) {
  padding-bottom: 42px;
}
.list-spacer {
  position: relative;
}
.list-spacer::after {
  content: '';
  width: 1px;
  height: 25px;
  background: rgba(var(--color-background-5), 0.05);
  position: absolute;
  top: 32px;
  left: 10px;
}
.list-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--color-text-4);
  font-size: 12px;
  color: var(--color-text-5);
  margin-right: 10px;
}
.opacity {
  opacity: 0.2;
}
.t4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: var(--color-text-6);
}
.status {
  padding: 4px 8px;
  border-radius: 55px;
  font-size: 10px;
  line-height: 140%;
  color: var(--color-text-5);
}
.completed {
  background: var(--color-background-6);
}
.processing {
  background: var(--color-background-7);
}
.toast {
  padding: 12px;
  background: rgba(var(--color-background-5), 0.05);
  border-radius: 12px;
  margin-top: 31px;
}
.logo0 {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 12px;
}
.t5 {
  font-size: 14px;
  width: 332px;
  line-height: 140%;
  color: var(--color-text-4);
  opacity: 0.8;
}

.mar-b {
  margin-bottom: 20px;
}